body {

    background-color: rgb(39, 39, 39);
}
.calculator {
    background-color: rgb(26, 26, 26);
    width: 20em;
    height: 30em;
    display: grid;
    grid-template-rows: 1.4fr 5fr;
    font-family:Arial, Helvetica, sans-serif;
    margin: 10% auto;
}

.screen-output {
    text-align: right;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: .5rem;
}

.current-output {
    /*background-color: blueviolet;*/
    font-size: 26pt;
    padding: .2rem 0 0;
    color: rgb(198, 198, 198);
    overflow-x: hidden;
}

.previous-output {
    /*background-color: rgb(17, 13, 78);*/
    font-size: 15pt;
    color:rgb(184, 184, 184);
    padding-top: .4rem
}

button {
    background: rgb(37, 37, 37);
    font-size: 15pt;
    color: rgb(198, 198, 198);
    height: 100%;
    width: 100%;
    border: none;
    transition: filter .5s;
} 

button:hover {

    filter: brightness(1.3);
}

button:active {
    filter: brightness(1.7);
}

.keypads {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: .5rem;
    gap: .25rem;
}

.clear-all {

    grid-column: 1/3;
    background:  rgb(106, 24, 24);
}

.equals-button {

    grid-column: 3/5;
}

.data {
    grid-row-start: 2/6;
}

.operand-buttons {
    grid-column: 4/5;
    grid-row: 1/5;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: inherit;
}

.operand-buttons button {

    background-color: rgb(2, 68, 70);
}
